#thongke select, #thongke input, #thongke button{
	background-color: #fff;
	border: 2px solid #1B2021;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	color: #333;
	font-size: 15px;
}
#thongke button{
	border: solid 1px gray;
	background-color: gray;
	border-radius: 5px;
	color: #fff;
	padding: 10px 25px;
	margin-left: 15px;
	outline: none;
}
#thongke button:hover{
	transform: scale(1.1);
	background-color: burlywood;
}
#row{
	text-align: center;
	margin-top: 5%;
	display: flex;
	width: 80%;
	height: 30vh;
	justify-content: space-around;
}
#row .row1{
	font-size: 18px;
	border-radius: 10px;
	width: 40%;
	border: 2px solid #fff;
	background-color: palegoldenrod;
}
#row .row1 p{
	margin-top: 10%;
}
#totalProductsSold, #totalRemainingProduct, #totalRevenue {
    font-weight: bold;
}